<div class="row">
    <div class="col-lg-6">

    </div>

    <div class="col-lg-6">
        <clr-datagrid [(clrDgSelected)]="selectedResources">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button *ngIf="selectedResources.length == 0"
                            type="button"
                            class="btn btn-sm btn-secondary"
                            (click)="onAdd()">
                        <clr-icon shape="plus"></clr-icon>
                        Add
                    </button>

                    <button *ngIf="selectedResources.length > 0"
                            type="button"
                            class="btn btn-sm btn-secondary"
                            (click)="onDelete()">
                        <clr-icon shape="close"></clr-icon>
                        Delete
                    </button>
                    <button *ngIf="selectedResources.length == 1"
                            type="button"
                            class="btn btn-sm btn-secondary"
                            (click)="doEdit()">
                        <clr-icon shape="close"></clr-icon>
                        Edit
                    </button>
                </div>
            </clr-dg-action-bar>

            <clr-dg-column>Resource ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Comment</clr-dg-column>

            <clr-dg-row *clrDgItems="let resource of allResources" [clrDgItem]="resource">
                <clr-dg-cell>{{resource.id}}</clr-dg-cell>
                <clr-dg-cell>{{resource.name}}</clr-dg-cell>
                <clr-dg-cell>{{resource.comment}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{allResources.length}} resources</clr-dg-footer>
        </clr-datagrid>
    </div>
</div>


<div class="modal" *ngIf="doOpenAddResourceModal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Add new Resource</h3>
            </div>
            <div class="modal-body">
                <form clrForm [formGroup]="resourceInputFormGroup">
                    <clr-input-container>
                        <label>Resource name</label>
                        <input clrInput placeholder=""
                               name="resourceName"
                               [formControl]="resourceNameInputFormControl"
                               [formControlName]="'resourceNameInputFormControlName'"
                        />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Comment</label>
                        <input clrInput placeholder=""
                               name="resourceComment"
                               [formControl]="resourceCommentInputFormControl"
                               [formControlName]="'resourceCommentInputFormControlName'"
                        />
                    </clr-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline"
                        (click)="closeModal()">Cancel
                </button>

                <button type="button"
                        class="btn btn-primary"
                        (click)="saveNewResource()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="doOpenAddResourceModal"
     class="modal-backdrop"
     aria-hidden="true">

</div>



<div class="modal" *ngIf="doOpenEditResourceModal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Edit Resource</h3>
            </div>
            <div class="modal-body">
                <form clrForm [formGroup]="resourceEditInputFormGroup">
                    <clr-input-container>
                        <label>Resource name</label>
                        <input clrInput placeholder=""
                               name="resourceName"
                               [formControl]="resourceEditNameInputFormControl"
                               [formControlName]="'resourceEditNameInputFormControlName'"
                        />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Comment</label>
                        <input clrInput placeholder=""
                               name="resourceEditComment"
                               [formControl]="resourceEditCommentInputFormControl"
                               [formControlName]="'resourceEditCommentInputFormControlName'"
                        />
                    </clr-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline"
                        (click)="closeModal()">Cancel
                </button>

                <button type="button"
                        class="btn btn-primary"
                        (click)="editResource()">Edit</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="doOpenEditResourceModal"
     class="modal-backdrop"
     aria-hidden="true">

</div>